#pickit-modal{
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.4);
    background-image:url('https://lightbox.pickit.net/bundles/public/img/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index:9999;
}

#pickit-modal.open{
    display : block;
}

#pickit-modal .panel{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,.3);
    max-height: 100vh;
    height: 500px;
    overflow: hidden;
    max-width: 100vw;
    width: 1000px;
    box-shadow: 1em 1em 1em rgba(0,0,0,0.2);
    padding : 1em;
    z-index:9999;
}

#pickit-modal .panel-confirmation{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,.3);
    max-height: 100vh;
    height: 300px;
    overflow: hidden;
    max-width: 100vw;
    width: 800px;
    box-shadow: 1em 1em 1em rgba(0,0,0,0.2);
    padding : 1em;
    z-index:10000;
    text-align : center;
}

#pickit-modal .panel-confirmation h3{
    font-size: 40px;
}

#pickit-modal .panel-confirmation > *{
    margin : 1em;
}

#pickit-modal h1{
    text-align : center;
    height: 30em;
    margin: 1em;
}

#pickit-modal .pickit-modal-content {
    display:flex;
    height: calc(100% - 9em);
}

#pickit-modal .pickit-modal-content > .pickit-modal-points{
    width : 50%;
    overflow : auto;
    border: solid 1px rgba(0,0,0,0.4);
}

#pickit-modal .pickit-modal-points li {
    border-bottom : solid 1px rgba(0,0,0,0.4);
    padding:1em;
    cursor : pointer;
    transition : background-color .5s;
    background-color : #FFF;
}
#pickit-modal .pickit-modal-points li:hover{
    background-color : #CCC;
}

#pickit-modal .close-button{
    position: absolute;
    right:1em;
    top:1em;
    font-size:30px;
    font-weight: bold;
    cursor:pointer;
    color : #ccc;
}

#pickit-modal .pickit-modal-points li .pickit-point-name{
    font-size:2em;
    color:chocolate;
}

#pickit-modal .pickit-modal-content > .pickit-modal-map{
    width:400px;
    height:300px;
    margin:auto;
}